body {
    background-color: black;
    color: white;
    width: 100%;
    overflow-x: hidden;
  }
  
  h1 {
    color: #1c9a9c;
  }
  
  .cor1 {
    background-color: rgb(0, 0, 0);
    border-bottom: 1px solid #000000;
  }
  
  .cor1 .navbar-brand,
  .cor1 .navbar-nav .nav-link,
  .cor1 .navbar-toggler-icon,
  .cor1 .navbar-nav .nav-item.active .nav-link,
  .cor1 .navbar-nav .nav-item:hover .nav-link,
  .cor1 .btn-outline-custom {
    color: #00fbff;
    border-color: #00fbff;
  }
  
  .cor1 .btn-outline-custom:hover {
    background-color: #00fbff;
    color: #00fbff;
  }
  
  .entry-title-link {
    color: #fff;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  #scroll-to-top {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
  }
  
  /* Entry Image Styles */
  .entry-image-link {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center; /* Centraliza verticalmente */
  }
  
  .entry-image-link img {
    transition: transform 0.3s ease-in-out;
    max-width: 200px; /* Tamanho máximo da imagem */
    height: auto;
    margin-right: 20px; /* Espaço à direita da imagem */
  }
  
  .play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    font-size: 2em;
    color: white;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  .entry-image-link:hover .play-icon {
    opacity: 1;
  }
  
  .entry-image-link:hover img {
    transform: scale(1.1);
  }
  
  .entry-image-link:hover .play-icon {
    opacity: 1;
  }
  
  .entry-image-link:hover .entry-title-link {
    opacity: 0;
  }
  
  .navbar-toggler {
    color: #fff;
  }
  
  .nav-link {
    color: #00fbff !important;
  }
  
  /* Novo estilo para a página "As Marvels" */
  /* Adicione estilos específicos da página "As Marvels" aqui */
  /* ... (seu código CSS existente) ... */

/* Novo estilo para a página "As Marvels" */
/* Adicione estilos específicos da página "As Marvels" aqui */
/* ... (seu código CSS existente) ... */

/* Novo estilo para a página "As Marvels" */
/* Adicione estilos específicos da página "As Marvels" aqui */
.movie-details {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 50px;
}

.movie-details img {
    max-width: 140px; /* Diminui o tamanho da capa do filme */
    height: auto;
    margin-right: 70px;
    margin-left: 80px;
}

.movie-info {
    max-width: 500px;
    color: #fff; /* Adicionado para garantir que o texto seja branco */
}

video {
    max-width: 100%;
    height: auto;
}

